# Uptash Claps
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Spotify Now Playing
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=

# Steam Current Playing
STEAM_TOKEN=
STEAM_ID=

# GooleAnalytics
NEXT_PUBLIC_GA_MEASUREMENT_ID=